* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New";
}

a {
    text-decoration: underline rgb(171, 212, 23);
    color: rgb(171, 212, 23);
}

body {
    background-color: rgb(171, 212, 23);
}

.title {
    background-color: black;
    color: rgb(171, 212, 23);
    text-align: center;
    padding: 80px 60px;
    font-size: 65px;
    text-decoration: underline overline rgb(171, 212, 23);
}

.photo-container img{
   height: auto;
   width: 100%;
   overflow: hidden;
}

.block1 {
    padding: 0 60px;
    padding-top: 60px;
    font-size: 20px;
    text-align: justify;
}

.block2 {
    padding: 60px 60px 120px;
    font-size: 16px;
}

.block3 {
    background-color: black;
    color: rgb(171, 212, 23);
    padding: 60px 60px;
    font-size: 16px;
}

.block4 {
    background-color: black;
    padding: 80px 60px;
    font-size: 16px;
    text-align: center;
    font-weight: 1000;
}