* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(171, 212, 23);
}

.title {
    background-color: black;
    color: rgb(171, 212, 23);
    text-align: center;
    padding: 50px;
    font-size: 65px;
}

.recipe-container1 {
    margin-bottom: 100px;
    background-color: rgb(0, 0, 0);
    padding-bottom: 16px;
}

.recipe-container1 img{
   height: auto;
   width: 100%;
   overflow: hidden;
}

.recipe-container2 {
    margin-bottom: 100px;
    background-color: rgb(0, 0, 0);
    padding-bottom: 16px;
}

.recipe-container2 img{
   height: auto;
   width: 100%;
   overflow: hidden;
}

.recipe-container3 {
    margin-bottom: 100px;
    background-color: rgb(0, 0, 0);
    padding-bottom: 16px;
}

.recipe-container3 img{
   height: auto;
   width: 100%;
   overflow: hidden;
}

button {
    background-color: black;
    color: white;
    border: 2px solid rgb(171, 212, 23);
    display: block;
    padding: 20px 50;
    font-size: 25px;
    font-weight: 900;
    font-family: monospace;
    margin: 0 auto
}

.text{
    color: white;
    text-align: center;
    font-family: "Courier New";
}